#logo{
	position: fixed;
	left: -15px;
	top: -59px;
}
text{
	font-family: 'ABeeZee', sans-serif;
	font-size: 12pt;
}
.Aplus{
	font-size: 17pt;
}
#navbar{
	background-color:#382e2e;
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	height: 55px;
	text-align: right;
	font-size: 12pt;
}
#navbar a {
	color: #ff4949;
	font-family: 'ABeeZee', sans-serif;
	text-align: center;
	margin-right: 15px;
	text-decoration: none;
	-webkit-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
	padding-left: 5px;
	padding-right: 5px;
}
.navcontainer {
	margin-top: 22px;
}
#mainbody{
	margin-top:55px;
}
#navbar a:hover {
	color: white;
}
#subprofile{
	/*display: none;*/
	display: block;
	text-align: center;
	position: fixed;
	background-color: #382e2e;
	right: 0px;
	width: 80px;
	top:50px;
}
#subprofile a{
	margin-right:6px;
	margin-left:4px;
}
#subprofile div{
	padding-top:5px;
	padding-bottom: 5px;
}
#subprofile {
	display:none;
}